/* ADD YOUR CUSTOM CSS TO THIS FILE BELOW */
/* Header */
.bg-dark-green {
    background-color: #006400; /* Dark Green */
    color: white; /* text color */
}

/* Contacts */
    ul.contact-list {
        list-style-type: none;
        padding: 0;
    }

/* Menu Headings */
.menu-heading {
    margin-top: 20px; /* Adjust the margin-top value as needed */
}
